body {
    text-align: center;
    background-color: #E8EEE7;
}

#enterDetails {
    float: left; 
    width: 50%;  
    background-color: #B4CDED; 
    color: #344966;
}

#findDetails {
    float: left; 
    width: 50%; 
    height: 365px;
    background-color: #344966; 
    color: #F0F4EF;
}

input {
    width: 120px;
}